
*{
    /* padding: 0px;
    margin: 0px; */
}
html {
    font-size: 20px;  /*rem değeri burdan alır default 1 rem 16px*/
}
.abs{
    background-color: chocolate;
    width: 350px;
    width: 10cm;
    width: 2in;
}

.div2{
    background-color: blueviolet;
    width: 50%;
    height: 200px;
}

.div3{
    background-color: chocolate;  
    width: 50%; 
    height: 100%;
}

.div4{
    background-color: lime;
    width: 50vw;
    height: 10vh;
}

.div5{
    font-size: 25px;
    
}
.div6{
    font-size: 2em;  /*50 px*/
}
.div7{
    font-size: 2em;  /*100 px*/
}
.div8{
    font-size: 25px;
}
.div9{
    font-size: 5rem;
}
.div10{
    font-size: 5rem;
}