
*{
    margin: 0;
    padding: 0;
}

body{
    border: 2px solid red;
    /* height: 100vh;
    width: 100vw; */
}

/* html{
    font-size: 10px;   /*1 rem 10 px oldu
} */

/* body::-webkit-scrollbar{
    display: none;
} */
.absolute-in{
    width: 10in;
    background-color: cornflowerblue;
}

.absolute-cm{
    width: 10cm;
    background-color: aqua;
}

.absolute-mm{
    width: 10mm;
    background-color: orange;
}

.absolute-px{
    width: 10px;
    background-color: chartreuse ;
}

.relative-percentage1{
    background-color: blueviolet;
    width: 50%;
    
    height: 200px;
}

.relative-percentage2{
    background-color: chocolate;
    width: 50%;
    height: 40%;
}

.relateive-vw{
    background-color: lime;
    width: 5vw;
    height: 10vh;
}

.em1{
    font-size: 25px;  
}
.em2{
    font-size: 2em;    /*50 px*/
}
.em3{
    font-size: 2em;   /*100px*/
}

.rem1{
    font-size: 25px;
}
.rem2{
    font-size: 5rem;
}
.rem3{
    font-size: 5rem;
}
