*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}
.container{

    width: 80vw;
    margin: 10px auto;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    padding: 200px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left, .center, .right{
    border: 2px solid red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}

@keyframes left {
    
    
}