
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap : 1rem
}
.sidebar button{
  padding: 1rem;
  display: block;
  width: 200px;
  cursor: pointer;
}

.content {
  grid-area: content;
  position: relative;
  height: 100%;
}

.header {
  grid-area: header;
  height: 5%;
}

.footer {
  grid-area: footer;
  height: 5%;
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #fff;
    color: #444;
  }


.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 50px;
  font-size: 120%;
}

.header,
.footer {
  background-color: #999;
}

ul{
  background-color: #5C636A;


}

li{
  background-color: #444 !important;
  color: #fff !important;
} 

td, th{
  border:1px solid white;
  padding: 1rem;
}
th{
  background-color: black;

}

i:hover {
  cursor: pointer;
}
