
#par3{
    background-color: olive;
}

#paragraf2{
    background-color: brown;
}

.ortak{
    background-color: green;
}


#paragraf3{
    background-color: blue;
}

#par1{
    background-color: yellow;
}