@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Caveat:wght@400;500&family=Montserrat:ital,wght@1,400;1,500&display=swap");

* {
  /* margin: 0px; */
}

body {
  font-family: "Bitter", serif;
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
}
ul.languages {
  border: 2px solid red;
  /* padding: 0px; */

  /*madde imleri stiller*/
  list-style-type: none;
  list-style-type: square;
  list-style-type: lower-alpha;

  /*maddeler lilerin içindemi dışıjndamı*/

  list-style-position: inside; /*içinde*/
  list-style-position: outsite; /*dışında defaout*/
  list-style-image: url(./img/house-solid.svg);
  color: red;
}

h2 {
  color: purple;
}

h2 i {
  color: magenta;
}
ul.languages li {
  background-color: lightgreen;
  margin: 5px;
  width: 250px;
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid orange;
  border-left: 5px solid gray;
}

ul.languages li::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(./img/house-solid.svg);
    margin-right: 10px;
    padding-right: 5px;
    background-color: red;
}



ul.languages li:hover {
  /* background-color: rebeccapurple; */
  opacity: 0.8;
  cursor: pointer;
}

/*!PSEDUO CLASSES */

ul.pseudo li:first-child {
  color: red;
  font-family: "Bitter", serif;
}

ul.pseudo li:nth-child(3) {
    color: magenta

  }

  ul.pseudo li:nth-child(5) {
    color: olive;
    font-size: 2rem;
    list-style-type: none;
    font-family: "Caveat", cursive;
  }

  ul.pseudo li:nth-child(odd){ 
    background-color: gray
  }

  ul.pseudo li:nth-child(even){ 
    background-color: lightsalmon
  }

  ul.pseudo li:hover{
    background-color: darkorchid;
  }

  ul.pseudo li:active{
    background-color: black;
  }

  input:focus{
    background-color: tomato;
    color: white;
    border: 5px dashed gray;
  }


  /* LINK PSDUO CLASS */

  nav.link a:link{
    color :red
  }

  nav.link a:visited{
    color :darkgreen
  }

  nav.link a:active{
    color :lightcoral
  }

  nav.link a:hover{
    color :blue
  }

  nav.cw a{
    text-decoration: none;
    border: 2px solid darkorange;
    padding: 5px;
    margin: 10px;
    color: gray;
    border-radius: 10%;
    background-color: darkorange;
  }

  nav.cw a:hover{
    background-color: gray;
    color: darkorange;
}
nav.cw a:hover i{
    color: purple
}

nav a i{
font-size: 1.1 rem;
}


/*! PSUEDO ELEMENTS */

.p-elements::first-line{
    color:red
}

.p-elements::first-letter{
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
ul.before-after{
list-style-type: none;

}

ul.before-after li{
 background-color: lightcoral;
 margin: 0.5rem;   
 width: 40%;
 border-radius: 10px;
 /*text-align: center;
  margin: 10px auto; */
}

ul.before-after li::before{
    content: '🚓';
    margin: 10px;
}

ul.before-after li:nth-child(2)::after{
    content: '🤷‍♂️';
    margin: 10px;
}