*{
    margin: 0;
}
.img-float{
    width: 40%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.par1{
background-color: chocolate;
}

.par2{
    clear: left;
}

.clear{
    clear: both;
}

.container{
    /* border: 2px solid red; */
}

.box{
    float: left;
    
}

.box1{
    background-color: lime;
    /* float: left; */
    width: 20%;
    height: 10vh;
}

.box2{
    background-color: purple;
    /* float: left; */
    width: 50%;
    height: 20vh;
    background-image: url("https://picsum.photos/id/674/600/400");
    background-size: cover;

}

.box3{
    background-color: darkorange;
    /* float: left; */
    /* float: right; */
    width: 30%;
    height: 30vh;
    
    background-size: cover;

    background-image: url("https://picsum.photos/id/657/600/400");

}