.box{
    border: 5px solid olive;
    margin-bottom: 4rem;
    width: 20rem;
    height: 4rem;
    background-color: bisque;
}

.box1{
    overflow: visible;
}

.box2{
    overflow: hidden;
}

.box3{
    overflow-x: scroll;
    overflow-y: hidden;
}

.box4{
    /* height: 7rem; */
    overflow: auto;
}

.box5{
/* overflow-x: auto;
overflow-y: hidden; */
overflow: auto;
}

.par1{
    background-color: fuchsia;
    width: 30rem;
}


.box5::-webkit-scrollbar{
    /* width: 0; */
    /* visibility: hidden; */
    display: none;
}